.other-items-item
<<<<<<< HEAD
  = link_to item_path(item.id) do
=======
  = link_to item_path(item) do
>>>>>>> fork_master/master
    .other-items-item-image
      = render "sold-tag", item: item
      = image_tag item.item_photos.first.photo.to_s, class: "photo"
    .other-items-item-box
      .other-items-item-box-title
        %h3
          = item.name
      .other-items-item-box-price
        ¥
<<<<<<< HEAD
        = number_with_delimiter(@item.price)
=======
        = item.price.to_s(:delimited)
>>>>>>> fork_master/master
        %br
        %p (税込)
